@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:700");

* {
    margin: 0;
    padding: 0;
    border: 0;
    // font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: inherit;
    font-family: "微軟正黑體";
}

body {
    // background-image: linear-gradient(120deg, #ffd9d9 0%, #ffa9af 100%);
    background-color: #fff9f9;
    height: 100vh;
}

.block {
    border: 1px solid red;
    display: block;
    align-content: center;
    height: 100%;
    min-height: 500px;
    @include mmd{
        height: 200%;
        min-height: 410px;
    }
    @include xxs{
        height: 250%;
    }
    @include xs{
        height: 300%;
    }

    .title {
        text-align: center;
    }

    .textBox {
        width: 30vw;
        margin: 0 auto;
        z-index: 0;
        text-align: left;
        border: 1px solid blue;
        padding: 20px 20px 0px;
        @include xxl() {
            width: 45vw;
        }
        @include xl() {
            width: 60vw;
        }
        @include sm() {
        margin: 30px auto;
            padding: 30px 30px;
            width: 90vw;
        }
        
        .ulDot {
            list-style-type: disc;
            padding-left: 25px;
            li {
                line-height: 20px;
                margin-top: 10px;
            }
        }
        
        .olNum {
            list-style-type: decimal;
            padding-left: 25px;
            li {
                line-height: 20px;
                margin-top: 10px;
            }
        }
    
        .textAssist {
            text-align: left;
        }
        
        P {
            font-family: "Share Tech Mono", monospace;
            color: #000;
            font-size: 17px;
            font-weight: 900;
            line-height: 1.4;
        }
    
        a {
            color: rgb(25, 79, 167);
            text-decoration: underline;
            text-underline-offset: 5px;
            margin-left: 5px;
        }
    }
}


.bgLU {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/bgFlowerLU.png");
    background-position: top -390px left -350px;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
    @include sm() {
        opacity: 0.3;
    }
}
.bgRD {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/bgFlowerRD.png");
    background-position: bottom -390px right -350px;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}
