@import "_reset.scss";
@import "_rwd.scss";

body {
    background-color: #fff;
}

#pageBox {
    img {
        width: 100%;
        object-fit: scale-down;
    }
    .btnBox {
        display: flex;
        justify-content: center;
        .button {
            width: 10rem;
            height: 3rem;
            margin: 0;
            line-height: 1.3rem;
            cursor: pointer;
            -webkit-appearance: none;
            border-radius: 0.5rem;
            padding: 0.85em 1em;
            margin: 1rem 2rem;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;

            @include sm {
                width: 8rem;
                height: 3rem;
                margin: 1rem .5rem;
            }
            @include xs {
                width: 6rem;
                height: 3rem;
            }

            svg {
                margin-right: 0.5rem;
            }
        }
        .alert {
            background-color: #2ba15c;
            color: #fefefe;
            &:hover {
                background-color: #34b168;
            }
        }
        .secondary {
            background-color: #e07116;
            color: #fefefe;
            &:hover {
                background-color: #e67e2a;
            }
        }
    }
}
